/* Fonts */
@font-face {
	font-family: "Founders Grotesk";
	src: url("/assets/fonts/founders-grotesk-regular.woff2");
	font-weight: normal;
}
@font-face {
	font-family: "Founders Grotesk";
	src: url("/assets/fonts/founders-grotesk-medium.woff2");
	font-weight: bold;
}
@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
	font-weight: 100 900;
	font-style: normal;
}
/* @font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf");
	font-weight: 100 900;
	font-style: italic;
} */

/* Base styles */
:root {
	--primary: #0f0f0f;
	--secondary: #FBF4F4;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--secondary);
	color: var(--primary);
	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-variation-settings: "wght" 400, "opsz" 14.0;
}
.light {
	--primary: #0f0f0f;
	--secondary: #FBF4F4;
}
.dark {
	--primary: #FBF4F4;
	--secondary: #0f0f0f;
}
@media (max-width: 800px) {
	body {
		font-size: 12px;
	}
}

/* Navigation */
.logo {
	position: fixed;
	top: 15px;
	left: 20px;
	color: var(--primary);
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	font-variation-settings: "wght" 500, "opsz" 14.0;
	transition: opacity .2s;
	mix-blend-mode: exclusion;
	z-index: 9;
}
.logo:hover {
	font-style: italic;
}
.logo:active {
	opacity: .25;
}
.light .logo {
	color: var(--secondary);
}
.nav {
	position: fixed;
	top: 15px;
	right: 20px;
	display: flex;
	gap: 20px;
	mix-blend-mode: exclusion;
	z-index: 9;
}
.nav a {
	font: inherit;
	color: var(--primary);
	text-decoration: none;
	font-weight: 500;
	font-variation-settings: "wght" 500, "opsz" 14.0;
	transition: opacity .2s;
	text-underline-offset: .2em;
}
.light .nav a {
	color: var(--secondary);
}
.nav a:hover {
	font-style: italic;
}
.nav a:active {
	opacity: .25;
}
.nav a[data-active="1"] {
	text-decoration: underline;
	font-style: italic;
}
.mode-toggle {
	border: unset;
	position: fixed;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: var(--primary);
	bottom: 15px;
	left: 20px;
	cursor: pointer;
	z-index: 9;
	transition: transform .2s, opacity .2s;
}
.mode-toggle-home {
	pointer-events: none;
	background-color: var(--secondary);
	mix-blend-mode: exclusion;
}
.mode-toggle:hover {
	transform: scale(1.1);
}
.mode-toggle:active {
	opacity: .25;
}
.copyright {
	z-index: 9;
	position: fixed;
	color: var(--secondary);
	mix-blend-mode: exclusion;
	bottom: 17.5px;
	right: 20px;
	transition: opacity .2s;
	text-decoration: none;
	text-underline-offset: .2em;
}
.copyright[data-active="1"] {
	font-style: italic;
	text-decoration: underline;
}
.copyright:hover {
	font-style: italic;
}
.copyright:active {
	opacity: .25;
}
.dark .copyright {
	color: var(--primary);
}
@media (max-width: 800px) {
	.logo {
		font-size: 12px;
	}
}

/* Homepage */
.home {
	position: relative;
	height: 100dvh;
	/* background-color: var(--primary); */
}
.home-background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.home-background-hero {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity .2s;
}
.home-background-hero[data-active="false"] {
	opacity: 0;
}
.home-background-hero-image {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: cover;
	display: block;
}
.home-background-hero-image-mobile {
	display: none;
}
.home-background-hero-caption {
	position: absolute;
	bottom: 17.5px;
	line-height: 1em;
	left: 60px;
	mix-blend-mode: exclusion;
	color: var(--secondary);
}
@media (max-width: 800px) {
	.home-background-hero-image-desktop {
		display: none;
	}
	.home-background-hero-image-mobile {
		display: block;
	}
}

/* Work page */
.work {
	position: relative;
	height: 100dvh;
	background-color: var(--primary);
}
.work-heroes {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 400px;
}
.work-hero {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity .2s;
}
.work-hero[data-active="0"] {
	opacity: 0;
}
.work-hero-mobile {
	display: none;
}
.work-hero-media {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.work-hero-mobile {
	display: none;
}
.work-projects {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 400px;
	background-color: var(--secondary);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.work-projects-filters {
	display: flex;
	justify-content: space-between;
	gap: 60px;
	width: 100%;
	padding: 0 80px;
}
.work-projects-filters-categories {
	display: flex;
	gap: 60px;
	position: relative;
	overflow: scroll;
}
.work-projects-filters-categories-fade {
	flex-shrink: 0;
	width: 120px;
	position: sticky;
	height: 100%;
	right: 0;
	z-index: 1;
	pointer-events: none;
	background: linear-gradient(to right, transparent 0%, var(--secondary) 100%);
}
.work-projects-filters-categories::-webkit-scrollbar,
.work-projects-filters-categories::-webkit-scrollbar-button {
	display: none; 
}
.work-projects-filters-category {
	font-size: 14px;
	font-family: inherit;
	font-weight: 500;
	font-variation-settings: "wght" 500, "opsz" 14.0;
	color: var(--primary);
	text-underline-offset: .2em;
	opacity: .5;
	background-color: unset;
	border: unset;
	padding: 20px 0;
	cursor: pointer;
	line-height: 1.25em;
	white-space: nowrap;
}
.work-projects-filters-category[data-active="1"] {
	text-decoration: underline;
	font-style: italic;
	color: var(--primary);
	opacity: 1;
	transition: opacity .2s;
}
.work-projects-filters-category:hover {
	font-style: italic;
	opacity: 1;
}
.work-projects-filters-category:active {
	font-style: italic;
	opacity: .25;
}
.work-projects-divider {
	content: "";
	display: block;
	height: 1px;
	background-color: var(--primary);
	opacity: .5;
	margin: 0 80px;
}
.work-projects-links {
	padding: 24px 80px 80px 80px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 20px;
}
.work-projects-links-fade {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 80px;
	background: linear-gradient(to bottom, transparent 0%, var(--secondary) 100%);
	pointer-events: none;
}
.work-projects-link {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 100px;
	gap: 20px;
	text-decoration: none;
	color: var(--primary);
	line-height: 1.25em;
	font-weight: 400;
	font-variation-settings: "wght" 400, "opsz" 14.0;
	transition: opacity .2s;
}
.work-projects-link[data-hidden="true"] {
	display: none;
}
.work-projects-link-client {
	
}
.work-projects-link-desc {
	
}
.work-projects-link-tags {
	
}
.work-projects-link-date {
	text-align: right;
}
.work-projects-link[data-active="0"] {
	opacity: .25;
}
.work-projects-link:hover {
	/* font-style: italic; */
}
.work-projects-link:active {
	opacity: .25;
}
@media (max-width: 1100px) {
	.work-projects-link {
		grid-template-columns: 1fr 1fr 100px;
	}
	.work-projects-link-desc {
		display: none;
	}
}
@media (max-width: 800px) {
	.work-hero-desktop {
		display: none;
	}
	.work-hero-mobile {
		display: block;
	}
	.work-projects-filters {
		padding: 0 20px;
		gap: 20px;
	}
	.work-projects-filters-categories {
		gap: 15px;
	}
	.work-projects-filters-category {
		font-size: 12px;
	}
	.work-projects-divider {
		margin: 0 20px;
	}
	.work-projects-links {
		padding: 24px 20px 80px 20px;
	}
	.work-projects-link {
		display: flex;
		justify-content: space-between;
		font-size: 12px;
	}
	.work-projects-link-tags {
		display: none;
	}
	.work-background-thumbnail-media-desktop {
		display: none;
	}
	.work-background-thumbnail-media-mobile {
		display: block;
	}
}

/* Info page */
.info {
	position: relative;
	height: 100dvh;
	background-color: var(--primary);
}
.info-main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--secondary);
	overflow: scroll;
	padding: 80px;
	align-content: safe center;
	min-height: 100dvh;
	gap: 100px 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 100px;
	grid-auto-rows: min-content;
}
.info-main-header {
	grid-column: span 4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 100px;
	gap: 40px;
	align-items: end;
}
.info-main-header-text {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 40px;
	grid-column: span 2;
	max-width: 800px;
}
.info-main-headshot {
	grid-column: span 2;
	border-radius: 2px;
	overflow: hidden;
}
.info-main-headshot-desktop {
	width: 100%;
	max-width: 260px;
	display: block;
}
.info-main-headshot-mobile {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.info-main-body {
	font-weight: 400;
	font-variation-settings: "wght" 400, "opsz" 14.0;
	font-size: 14px;
	line-height: 1.25em;
}
.info-main-body h2 {
	font-weight: 600;
	font-variation-settings: "wght" 600, "opsz" 14.0;
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 20px;
}
.info-main-body p {
	margin-bottom: 20px;
	text-wrap: pretty;
}
.info-main-body a {
	text-decoration: none;
	color: var(--primary);
	transition: opacity .2s;
}
.info-main-body a:hover {
	font-style: italic;
}
.info-main-body a:active {
	opacity: .25;
}
.info-main-body ul {
	list-style-type: none;
	margin-bottom: 20px;
}
.info-main-body li {
	margin-bottom: 2px;
}
.info-main-desc {
	font-family: "Founders Grotesk";
	line-height: .85em;
	font-size: clamp(24px, 3.25vw, 55px);
	font-weight: bold;
}
.info-main-email {
	font-family: inherit;
	text-decoration: none;
	font-size: clamp(14px, 2vw, 24px);
	border: unset;
	background-color: unset;
	color: var(--primary);
	display: flex;
	gap: 10px;
	cursor: pointer;
	transition: opacity .2s;
}
.info-main-email:hover {
	font-style: italic;
}
.info-main-email:active {
	opacity: .25;
}
.info-main-email span {

}
.info-main-email svg {
	flex-shrink: 0;
	display: block;
	width: 1.25em;
	height: 1.25em;
	fill: var(--primary);
}
.info-main-desc-toggle {
	border: unset;
	background-color: unset;
	cursor: pointer;
	display: block;
	align-self: start;
	justify-self: start;
	display: none;
	transition: opacity .2s;
	padding: 20px;
	margin: 0 -20px 0 auto;
}
.info-main-desc-toggle:hover {
	opacity: .5;
}
.info-main-desc-toggle:active {
	opacity: .25;
}
.info-main-desc-toggle[data-active="1"] {
	transform: rotate(180deg);
}
.info-main-desc-toggle svg {
	width: 15px;
	fill: var(--primary);
}
.info-main-desc-mobile {
	font-family: "Founders Grotesk";
	font-weight: normal;
	line-height: 1em;
	font-size: 24px;
	display: none;
}
@media (max-width: 1000px) {
	.info-main {
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}
	.info-main-header {
		grid-column: span 2;
		grid-template-columns: 1fr 200px;
	}
	.info-main-header-text {
		grid-column: unset;
	}
	.info-main-headshot {
		grid-column: unset;
	}
}
@media (max-width: 800px) {
	.info-main {
		position: static;
		padding: calc(100svh - 380px) 20px 80px 20px;
		gap: 0;
		display: flex;
		flex-direction: column;
		overflow: unset;
		/* min-height: unset; */
	}
	.info-main-headshot {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: calc(100svh - 400px);
	}
	.info-main-headshot-desktop {
		display: none;
	}
	.info-main-headshot-mobile {
		display: block;
	}
	.info-main-header {
		grid-template-columns: 1fr;
	}
	.info-main-header-text {
		gap: 20px;
		max-width: 400px;
	}
	.info-main-desc {
		line-height: 1em;
	}
	.info-main-desc-desktop {
		display: none;
	}
	.info-main-desc-toggle {
		display: flex;
	}
	.info-main-desc-mobile[data-active="0"] {
		display: none;
	}
	.info-main-desc-mobile[data-active="1"] {
		display: block;
	}
	.info-main-col3 {
		grid-row: unset;
		grid-column: 1;
	}
	.info-main[data-active="0"] .info-main-body {
		display: none;
	}
	.info-main-body:nth-last-child(1) {
		padding-bottom: 80px;
	}
	.info-main-body h2 {
		font-size: 10px;
		margin-bottom: 10px;
		line-height: 1.25em;
	}
	.info-main-body p {
		font-size: 12px;
		line-height: 18px;
	}
	.info-main-body ul {
		font-size: 12px;
		line-height: 18px;
	}
}

/* Project pages */
.project-animate {
	opacity: 0;
}
.project {
	position: relative;
	min-height: 100dvh;
}
.project-next {
	text-decoration: none;
	z-index: 9;
	position: fixed;
	color: var(--secondary);
	mix-blend-mode: exclusion;
	bottom: 17.5px;
	right: 20px;
	transition: opacity .2s;
}
.dark .project-next {
	color: var(--primary);
}
.project-next:hover {
	font-style: italic;
}
.project-next:active {
	opacity: .25;
}

/* Project header */
.project-header {
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 1.25em;
}
.project-header-thumbnail {
	height: calc(100svh - 400px);
	pointer-events: none;
}
.project-header-thumbnail-desktop,
.project-header-thumbnail-mobile {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}
.project-header-thumbnail-mobile {
	display: none;
}
.project-header-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 100px;
	gap: 60px;
	background-color: var(--secondary);
	padding: 20px 80px 80px 80px;
}
.project-header-client {

}
.project-header-client-label {
	font-weight: 600;
	font-variation-settings: "wght" 600, "opsz" 14.0;
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 20px;
}
.project-header-client-heading {
	font-family: "Founders Grotesk";
	font-size: clamp(24px, 3.25vw, 55px);
	line-height: .85em;
}
.project-header-client-links {
	margin-top: 25px;
	display: flex;
	gap: 20px;
}
.project-header-client-links a {
	color: var(--primary);
	transition: opacity .2s;
	text-underline-offset: .2em;
}
.project-header-client-links a:hover {
	font-style: italic;
}
.project-header-client-links a:active {
	opacity: .25;
}
.project-header-toggle {
	border: unset;
	background-color: unset;
	cursor: pointer;
	justify-self: end;
	display: none;
	transition: opacity .2s;
	padding: 20px;
	margin: -20px;
}
.project-header-toggle:hover {
	opacity: .5;
}
.project-header-toggle:active {
	opacity: .25;
}
.project-header-toggle svg {
	width: 15px;
	fill: var(--primary);
}
.project-header-toggle[data-active="1"] {
	transform: rotate(180deg);
}
.project-header-info {

}
.project-header-info-heading {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 1.25em;
	font-weight: 600;
	font-variation-settings: "wght" 600, "opsz" 14.0;
}
.project-header-info-desc {

}
.project-header-tags {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.project-header-tags-section {

}
.project-header-tags-heading {
	font-size: 14px;
	line-height: 1.25em;
	margin-bottom: 20px;
	font-weight: 600;
	font-variation-settings: "wght" 600, "opsz" 14.0;
}
.project-header-tags-item {
	
}
.project-header-date {
	text-align: right;
	font-weight: 600;
	font-variation-settings: "wght" 600, "opsz" 14.0;
}
@media (max-width: 1000px) {
	.project-header-content {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.project-header-date {
		display: none;
	}
}
@media (max-width: 800px) {
	.project-header-content {
		padding: 20px;
		grid-template-columns: 1fr;
		gap: 20px;
	}
	.project-header-toggle {
		display: block;
	}
	.project-header-info[data-active="0"] {
		display: none;
	}
	.project-header-tags[data-active="0"] {
		display: none;
	}
	.project-header-client-label {
		font-size: 10px;
		line-height: 1.25em;
		margin-bottom: 10px;
	}
	.project-header-client-links {
		margin-top: 15px;
	}
	.project-header-client-links a {
		font-size: 12px;
		line-height: 18px;
		text-underline-offset: .2em;
	}
	.project-header-info-heading {
		font-size: 10px;
		margin-bottom: 10px;
		line-height: 1.25em;
	}
	.project-header-info-desc {
		font-size: 12px;
		line-height: 18px;
	}
	.project-header-tags {
		gap: 1.25em;
	}
	.project-header-tags-heading {
		font-size: 10px;
		line-height: 1.25em;
		margin-bottom: 10px;
	}
	.project-header-tags-item {
		font-size: 12px;
		line-height: 18px;
	}
	.project-header-thumbnail-desktop {
		display: none;
	}
	.project-header-thumbnail-mobile {
		display: block;
	}
}

/* Project portfolio content */
.project-main {
	display: flex;
	flex-direction: column;
	padding: 0 80px 80px 80px;
	gap: 20px;
}
.project-main-row {
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
	gap: 20px;
}
.project-main-row > * {
	border-radius: 2px;
	overflow: hidden;
}
.project-main-row > *[data-desktop="false"] {
	display: none;
}
.project-main-item-hover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project-main-item-hover-img1 {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project-main-item-hover-img2 {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project-main-item-hover:hover .project-main-item-hover-img1 {
	display: none;
}
.project-main-item-hover:hover .project-main-item-hover-img2 {
	display: block;
}
.project-main-item-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project-main-item-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.project-main-item-mobile {
	display: none;
}
@media (max-width: 800px) {
	.project-main {
		padding: 0;
		padding-bottom: 50px;
		gap: 0;
	}
	.project-main-row {
		display: flex;
		flex-direction: column;
		gap: 0;
	}
	.project-main-item-mobile {
		display: block;
	}
	.project-main-item-desktop {
		display: none;
	}
	.project-main-row > * {
		border-radius: unset;
	}
	.project-main-row > *[data-mobile="false"] {
		display: none;
	}
	.project-main-row > *[data-mobile="true"] {
		display: block;
	}
}

/* Credits page */
.credits-main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px 20px;
	min-height: 100dvh;
	overflow: scroll;
}
.credits-main-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	font-variation-settings: "wght" 500, "opsz" 14.0;
	line-height: 1.25em;
	gap: 1.25em;
}
.credits-main-content a {
	text-decoration: none;
	color: var(--primary);
	text-underline-offset: .2em;
	transition: opacity .2s;
}
.credits-main-content a:hover {
	font-style: italic;
}
.credits-main-content a:active {
	opacity: .25;
}
@media (max-width: 800px) {
	.credits-main-content {
		font-size: 12px;
	}
}